* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    border: 4px solid black;
    padding: 10px 10px;
    font-size: 50px;
    background-color: brown;
    
} 