* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 4px solid #e3ff00;
    padding: 10px 10px;
}